
/* -- Media Query -- */
@media (min-width: 0px) {
    /* celular p */
header {
    /* background-color: #61DBFB; */
    background-color: rgb(30, 30, 30);
    color: #f5f5f5;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    box-shadow: #0000008c 1px 1px 2px;
}
    
form {
    width: 90%;
    margin: 2rem auto;
}

footer .about {
    display: block;
}

footer .ft2 i {
    font-size: 2rem;
    margin: 0;
}
    
}

@media (min-width: 576px) {
    /* celular m */
/* header {
    background-color: #61fbae;
} */

form {
    width: 70%;
    margin: 3rem auto;
}

}

@media (min-width: 768px) {
    /* tablet */
    /* header {
        background-color: #ecfb61;
    } */

    form {
        width: 55%;
        margin: 5rem auto;
    }
}

@media (min-width: 992px) {
    /* laptop */
    /* header {
        background-color: #fbab61;
    } */

    form {
        width: 45%;
        margin: 6rem auto;
    }
}

@media (min-width: 1200px) {
    /* desktop */
    /* header {
        background-color: #b661fb;
    } */

    form {
        width: 40%;
        margin: 6rem auto;
    }
}
